* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Times New Roman, Franklin Gothic Medium;
}

/*Menu*/
.header {
    position: static;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.models {
    display: flex;
}

.menu {
    background: transparent;
}

.top-menu ul {
    display: flex;
    gap: 8px;
    align-items: center;
}

.top-menu ul>li {
    list-style-type: none;
}

.top-menu ul>li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: BlinkMacSystemFont, 'Segoe UI';
}

/*---------------------------------------------------------------------------------------*/

/*Background*/


.big {
    overflow: hidden;
}

.text-h1-container {
    left: 48px;
}